*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    color: aliceblue;
    font-family:Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}
.def-pad{
    padding: 1em 6em ;
}
#main1{
    background-color: #141628;
    height: 100vh;
}
nav{
    position: sticky;
    padding:1em;
    padding-top: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    top:0;  
    overflow: hidden;
}
nav > span{
    font-size: x-large;
    font-weight: bolder;
}
.nav_item{
    flex-grow: 0.1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: medium;
    color: rgb(228, 228, 228);
}
.nav_spans{
    align-items: center;
    height: 100%;
    padding-top: 0.3em;
    text-align: center;
}
@media screen and (max-width:900px){
    .nav_item{
        display: none;
    }
    .def-pad{
        padding: 1em 2em;
    }
} 

.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    height: 92%;
}

#inro_main{
    flex-basis: 0.7;
}

#name{
font-size:5em;  
}
#high{
    color: #FD4370;
}
.intro_illus{
    flex-basis: 0.3;
    height: 50vh;
    width: 40vw;

}

.desc{
    letter-spacing: 2px;
    padding: 1.5em 0em ;

}
#work_btn{
    background-color:#FD4370;
    padding:1em 2em;
    color: white;   
    border: none;
    border-radius:20px;
}
#work_btn > a{
    text-decoration: none;
    color: white;
} 
/* .test{ 
 border: 1px solid white; 
} */    

.line_header{
    font-size: 2em;
    padding-bottom:10px;
}
#main2{
    height:90vh;
    background-color:#1B1E32 ;
    display: flex;
    flex-direction: column;
    padding: 4em  3em;
    /* margin: 0em 2em; */
    justify-content: space-between;
    padding-bottom: 0em;
}
#sw{
    color: gainsboro !important;
    font-size: medium;
    float:right;
    bottom: 0;
    padding-top:0.5em ;
    }

.proj{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.p_n{
    font-size: xxx-large ;
    font-weight: bold;
}

#main2 > #i{
    padding-bottom:3em ;
} 

.proj_det{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content:stretch;
    align-items: flex-start;
}
.proj_pic > img{
    height:50vh;
    width: 30vw;
}
.proj_desc{
    max-width:50ch;
    color: rgb(199, 199, 199);
    font-size: 1.25em;
    line-height: 1.6;

}
.view_proj{
    width: 20%;
    border: none;
    background: #FD4370;
    padding: 1.2em;
    border-radius:8px;
    white-space: nowrap;
}


.stack{
color: white;
font-size:1.25em;
line-height: 1.6;
word-spacing: 5px;
}


.proj_det > button >a{
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-size: 1em;
}
.proj_det > p{
    padding: 1em 0em;
} 


.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-container:hover{
    cursor:grab
}
.swiper-slide {
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next{
    position: absolute !important;
    bottom:10px;
    right: 10px;
}
#certi{
    height: 100%;
    width: 100%;
}
#main3{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color:#141628 ;
    padding:7em 5em;
    padding-top:2em ;
    /* padding-bottom: 0em; */
    align-items: center;
    flex-wrap: nowrap;
}

.pic{
    flex-basis: 50%;
    -webkit-filter: hue-rotate(12); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    height: fit-content;
    background: url("../assets/img/profile-pic.png");
}
.about_me{
    width: 100%;
    padding:0em 4em ;
    flex-basis: 50%;
}


#i{
    display:flex;
    flex-direction:row;
    /* justify-content: cente   r; */
    align-items: center;
    color: rgb(199, 199, 199);
    font-weight: bold;
}

#dash_l{
    border-top:5px solid  #FD4370;
    width: 4em;
    height: 0.01px;
    margin-right:2em ;
}
#dash_s{
    border-top:5px solid  #FD4370;
    width: 2em;
    height: 0.01px;
    margin-right:2em ;
}
#geta{
    padding-top:2em;
    padding-bottom: 4em;
}
#bout > p{
    padding: 3em 0em;
    line-height: 2em;
    font-size: 1em;
    /* max-height: min-content;
     */
    max-width: 70ch;
}
#bout > p >span >a{
    text-decoration: none;
    color: inherit;
}
#bout > p >span >a:hover{
    border-bottom:1px solid #FD4370 ;
}


.key_w{
    font-size: large;
    font-weight: bold;
}
#bout>p{
    font-size: large;
    /* white-space: ; */
}

#main4{
    background:#1B1E32;
    height: 100vh;
}

#connect{
    padding:6em 2em;
}
#connect1{
    padding: 1.5em 0em;
    font-size:3em;
    padding-bottom:0em ;
}
.smedia{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    width: 30%;
    justify-content: space-around;
}
.smi{
background-color: #2c3049;
border-radius:5px;
padding: 1em;
align-items: center;
}
.smi:hover{
    background-color: #505370;
    border-radius:21px ;
    padding: 1em;
    transition: 0.6s ease;
}
.skill_btn{
margin:0px 5px ;
width:100%;
padding: 0.5em 0.7em;
text-align: center !important;
border-radius: 21px;
}

.skill_{
    width: 62px;
    height: 62px;
    margin: 0.7em;
}
.skill_m{
    width: 42px;
    height: 62px;
    margin: 0.5em;
}

/* .skill_btn_js{
border: 2px solid rgb(255, 218, 52);
background-color: rgba(246, 220, 102, 0.424);
}
.skill_btn_py{
border: 2px solid rgb(255, 218, 52);
background-color:  rgb(255, 218, 52,0.424);
}
.skill_btn_c{
    border: 2px solid rgb(153, 0, 255);
background-color:  rgba(99, 52, 255, 0.424);
}
.skill_btn_r{
        border: 2px solid #6DD6F3;
        background-color: rgba(51, 51, 51, 0.472);
} */